/*--------------------------------------------------------------
# Git current branch popup
--------------------------------------------------------------*/
.git-popup {
  position: fixed;
  top: 70px;
  right: 100px;

  animation: fadeinout 3s forwards;


  .git-text {
    background-color: $color_background-popup;
    color: white;
    text-align: center;
    border-radius: 20px;
    padding: 30px;

    &:hover {
      background-color: #888;
    }
  }

}

@keyframes fadeinout {
    0% { opacity: 0; }
    30%   { opacity: 1; }
    70% { opacity: 1; }
    100% { opacity: 0; }
}
