/* TEMP COLORING*/
.html {
  background-color: #faa;
}

.site {
  background-color: #fa8;
}

.site-header {
  background-color: #bbb;
}

.site-content {
  background-color: #faa;
}

.site-footer {
  background-color: #aaa;
}

.main-navigation {
  background-color: #757;
  a {
    background-color: #899;
  }
}

article {
  background: #3a3;
}


/*--------------------------------------------------------------
# Site width and general layout
--------------------------------------------------------------*/
html, body {
  height: 100%;
}

.site, .site-header, .site-content, .site-footer {
  clear: both;  // a to res rabim?
  margin: 0 auto;
}

.site-content, .site-footer{
    padding: 10px 20px;
}

.site {
  /* Height ni uredu, min-height pa je - poštudiraj zakaj! */
  min-height: 100%;
  position: relative;
}


@media screen and (min-width: 700px) {
  .site-header, .site-content, .site-footer {
    // width: 80%;
    // max-width: 1024px;
  }
}

/*--------------------------------------------------------------
# Header and navigation stuff
--------------------------------------------------------------*/
$navigation-height: 60px;


.site-header {
  position: fixed;
  width: 100%;
  top: 0;
}

.main-navigation {

  // Nebi blo logično imet position: absolute;?
  height: $navigation-height;
  width: 100%;
  padding: 0 35px;

  ul {float: right;}

  a {
    height: $navigation-height;
    line-height: $navigation-height;
    margin-left: 10px;
    padding: 0 10px;
  }
}

.site-logo {
  display: inline-block;
  position: absolute;
  max-height: 100%;

  img {
    display: block; // za se znebit gapa spodaj, po defoltu je img inline elemnent
    height: $navigation-height;
    padding: 15px;
  }
}

.site-content {
  margin-top: $navigation-height;
}

/* Hamburger menu */
.menu-toggle {
  float: right;
}


/*--------------------------------------------------------------
# Footer stuff
--------------------------------------------------------------*/
$footer-height: 200px;

.site-content {
  padding-bottom: $footer-height;
}

.site-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: $footer-height;

}


/*--------------------------------------------------------------
# Posts stuff
--------------------------------------------------------------*/
@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

article {
    @include word-wrap();
    height: calc(100vh - 100px);  //temp hack, uporabi variable + pogruntaj kaj je z margini
}

/*--------------------------------------------------------------
# Git current branch popup
--------------------------------------------------------------*/
.git-popup {
  position: fixed;
  top: 70px;
  right: 100px;

  animation: fadeinout 3s forwards;


  .git-text {
    background-color: $color_background-popup;
    color: white;
    text-align: center;
    border-radius: 20px;
    padding: 30px;

    &:hover {
      background-color: #888;
    }
  }

}

@keyframes fadeinout {
    0% { opacity: 0; }
    30%   { opacity: 1; }
    70% { opacity: 1; }
    100% { opacity: 0; }
}
