/* TEMP COLORING*/
.html {
  background-color: #faa;
}

.site {
  background-color: #fa8;
}

.site-header {
  background-color: #bbb;
}

.site-content {
  background-color: #faa;
}

.site-footer {
  background-color: #aaa;
}

.main-navigation {
  background-color: #757;
  a {
    background-color: #899;
  }
}

article {
  background: #3a3;
}


/*--------------------------------------------------------------
# Site width and general layout
--------------------------------------------------------------*/
html, body {
  height: 100%;
  overflow-x: hidden;
}

.site, .site-header, .site-content, .site-footer {
  clear: both;  // a to res rabim?
  margin: 0 auto;
}

.site-content, .site-footer{
    padding: 10px 20px;
}

.site {
  /* Height ni uredu, to pa je - poštudiraj zakaj! */
  min-height: 100%;
  position: relative;
}

/* Header and navigation stuff */
$navigation-height: 75px;

.main-navigation ul {
  float: right;

  a {
    height: $navigation-height;
    line-height: $navigation-height;
    margin-left: 10px;
    padding: 0 10px;
  }
}

.main-navigation .site-logo {
  display: inline-block;
  position: absolute;
  max-height: 100%;

  img {
    height: $navigation-height - 10px;
  }
}

/* Footer stuff */
$footer-height: 200px;

.site-content {
  padding-bottom: $footer-height;
}

.site-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: $footer-height;

}

@media screen and (min-width: 700px) {
  .site-header, .site-content, .site-footer {
    width: 80%;
    max-width: 1024px;
  }

}


/*--------------------------------------------------------------
# Git current branch popup
--------------------------------------------------------------*/
.git-popup {
  position: fixed;
  top: 70px;
  right: 100px;

  animation: fadeinout 3s forwards;


  .git-text {
    background-color: $color_background-popup;
    color: white;
    text-align: center;
    border-radius: 20px;
    padding: 30px;

    &:hover {
      background-color: #888;
    }
  }

}

@keyframes fadeinout {
    0% { opacity: 0; }
    30%   { opacity: 1; }
    70% { opacity: 1; }
    100% { opacity: 0; }
}
