a {
	color: $color_arsviva_link;

	&:visited {
		color: $color_arsviva_link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color_arsviva_link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
